services:
  app:
    container_name: ssbu-map-ban
    image: ghcr.io/csmplay/ssbu-map-ban:latest
    build: .
    pull_policy: always
    ports:
      - "1704:3000"
    environment:
      - NEXT_PUBLIC_CDN_BASE=https://cdn.example.com
    restart: unless-stopped